/* Existing Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Add Poppins-Bold */
@font-face {
  font-family: 'Poppins-Bold';
  src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body, .header, .menuLink, .mobileMenuLink {
  font-family: 'Poppins', sans-serif;
}

.header h1, .menuLinkActive {
  font-family: 'Poppins-Bold', 'Poppins', sans-serif;
  font-weight: 700;
}